<section class="taskapp">
  <header class="header">
    <div class="container">
      <h1>Task List Angular APP</h1>
      <p>All the my tasks HERE!!!</p>
      <input
        class="new-todo"
        placeholder="Type the new task"
        autofocus
        type="text"
        (change)="inputHandler($event)"
      />
    </div>
  </header>
  <div class="container taskapp-wrapper">
    <!-- This is the example to see how looks the tasks -->
    <!-- <pre>
      <code>
        {{ tasks() | json }}
      </code>
    </pre> -->
    <section class="main">
      <ul class="todo-list">
        @for (task of tasks(); track task; let i = $index) {
          <li>
            <div class="view">
              <input class="toggle" type="checkbox" [checked]="task.finished" (change)="updateTask(i)"/>
              <label>{{ task.title }}</label>
              <button class="destroy" (click)="deleteTask(i)"></button>
            </div>
            <input class="edit" value="Render the 3D object in Blender" />
          </li>
        }
        <!-- <li class="finished">
          <div class="view">
            <input class="toggle" type="checkbox" checked />
            <label>Do something fresh with Bobby</label>
            <button class="destroy"></button>
          </div>
          <input class="edit" value="Do something fresh with Bobby" />
        </li>
        <li>
          <div class="view">
            <input class="toggle" type="checkbox" />
            <label>Render the 3D object in Blender</label>
            <button class="destroy"></button>
          </div>
          <input class="edit" value="Render the 3D object in Blender" />
        </li>
        <li class="editing">
          <div class="view">
            <input class="toggle" type="checkbox" />
            <label>Eat ice cream with soda??</label>
            <button class="destroy"></button>
          </div>
          <input class="edit" value="Eat ice cream with soda??" />
        </li> -->
      </ul>
    </section>
    <!-- This footer should be hidden by default and shown when there are todos -->
    <footer class="footer">
      <!-- Here is the counter of kind of tasks -->
      <span class="todo-count"><strong>{{ tasks().length }}</strong>
        @if (tasks().length > 1) {
        <span> tasks</span>
        } @else {
        <span> task</span>
        } left
      </span>
      <!-- This will be for change the list -->
      <ul class="filters">
        <li>
          <a routerLink="/" class="selected">All Tasks</a>
        </li>
        <li>
          <a routerLink="/pending">Pending</a>
        </li>
        <li>
          <a routerLink="/finished">Finished</a>
        </li>
      </ul>
      <!-- Hidden ??  if no finished items are left ?? Think how to use it ↓ -->
      <button class="clear-finished">Clear Finished</button>
    </footer>
  </div>
</section>
