<section class="todoapp">
  <header class="header">
    <div class="container">
      <h1>Task List Angular APP</h1>
      <p>All the my tasks HERE!!!</p>
      <input
        class="new-todo"
        placeholder="Type new todo"
        autofocus
        type="text"
      />
    </div>
  </header>
  <div class="container todoapp-wrapper">
    <!-- This section should be hidden by default and shown when there are todos -->
    <section class="main">
      <ul class="todo-list">
        <li class="finished">
          <div class="view">
            <input class="toggle" type="checkbox" checked />
            <label>Do something fresh with Bobby</label>
            <button class="destroy"></button>
          </div>
          <input class="edit" value="Do something fresh with Bobby" />
        </li>
        <li>
          <div class="view">
            <input class="toggle" type="checkbox" />
            <label>Render the 3D object in Blender</label>
            <button class="destroy"></button>
          </div>
          <input class="edit" value="Render the 3D object in Blender" />
        </li>
        <li class="editing">
          <div class="view">
            <input class="toggle" type="checkbox" />
            <label>Eat ice cream with soda??</label>
            <button class="destroy"></button>
          </div>
          <input class="edit" value="Eat ice cream with soda??" />
        </li>
      </ul>
    </section>
    <!-- This footer should be hidden by default and shown when there are todos -->
    <footer class="footer">
      <!-- This should be `0 items left` by default -->
      <span class="todo-count"><strong>0</strong> item left</span>
      <!-- Remove this if you don't implement routing -->
      <ul class="filters">
        <li>
          <a routerLink="/" class="selected">All Tasks</a>
        </li>
        <li>
          <a routerLink="/pending">Pending</a>
        </li>
        <li>
          <a routerLink="/finished">Finished</a>
        </li>
      </ul>
      <!-- Hidden if no finished items are left ↓ -->
      <button class="clear-finished">Clear Finished</button>
    </footer>
  </div>
</section>
